body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FCFCFC;
  min-width: 700px;
}

.content {
	max-width: 700px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	border-radius: 0px;
}

#avatar {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 12px;
	width: 30%;
  height: 100%;
	border-radius: 0px;
}

#panel{
	border-color: #FCFCFC;
}

#panel-head{
	background-image: linear-gradient(to bottom, #d9edf7 0%, #d9edf7 100%);
}

#info{
  overflow: hidden;
  display:flex;
	background-color: #FFFFFF;
  width : 100%;
}
